.inline {
    background-color: green;
} 
@media only screen and (min-width: 420px) {
    .inline {
        background-color: aqua;
    }
}
@media only screen and (min-width: 640px) {
    .inline {
        background-color:bisque;
    }
}
@media only screen and (min-width: 720px) {
    .inline {
        background-color:chartreuse;
    }
}
@media only screen and (min-width: 920px) {
    .inline {
        background-color:yellow;
    }
}








/* .inline {
    display: inline;
    background-color: lightblue;
    padding: 10px;
    border: 1px solid blue;
}  
.inline-block {
    display: inline-block;
    background-color: lightcoral;
    padding: 10px;
    border: 1px solid red;
}
  

@media only screen and (max-width:720px) {
    body {
        background-color: violet;
    }
}
@media only screen and (max-width:480px) {
    body {
        background-color: blue;
    }
}
@media only screen and (max-width:320px) {
    body {
        background-color: red;
    }
} */